claude-dir/
CLAUDE.md
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
/.next/
/out/
.next/
out/
/build
/dist
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
certificates

# Misc
*.pem
.DS_Store
# .env*
.env
/ssl
ssl
/https
https
/devLocal

# Site build output
_site